*.o
*.lo
*.bak
*.log
*.orig
.deps/
.libs/
autom4te.cache/
m4/*.m4
src/.dirstamp

libpcsclite.so.1.0.0
libpcsclitebcas.la
libpcsclite-bcas.pc

Makefile
Makefile.in
aclocal.m4
compile
config.h
config.guess
config.h.in*
config.status
config.sub
configure
configure.scan
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
